<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>le087's blog - {{ current_page }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap-responsive.css" rel="stylesheet">
    <meta name="keywords" content="generator, passwords, генератор, паролей, легкий, запоминающийся, простой" />
  </head>
  <body>
    <div class="container">
      <div class="row-fluid">
	<div class="span12">
	  <div class="navbar">
	    <div class="navbar-inner">
	      <a class="brand" href="http://pass.le087.ru/">GeNeRAte_PAssW0rD</a>
	    </div>
	  </div>
	</div>
      </div>
      <div class="span3">
	<h4>Параметры генаратора: </h4><br />
	<form method="POST" id="" action="">
	  {{ radioform.as_table }}<br /><br />
	  <input class="btn btn-info" type="submit" method="POST" name="generate" value="Сгенерировать пароли!" /><br /><br />	  
	</form>
	<h4>Я тут нагенерировал: </h4>
	<table class="table">
	{% for i in passwords %}
	  <tr>
	    <td>{{ forloop.counter }}:</td><td>{{ i }}</td>
	  </tr>
	{% endfor %}
	</table>

	<h4>Всего создано паролей: {{ counter }}</h4>
      </div>
      <div class="span8">
	<h4>Немного информации о Вас:</h4>
	<table class="table">
	  <tr>
	    <td>Ваш браузер:</td><td>{{ browser }}</td>
	  </tr>
	  <tr>
	    <td><h2>Ваш IP-адрес:</h2></td><td><h2>{{ ip }}</h2></td>
	  </tr>
	</table>
	<h4>Коротко о проекте</h4>
	<div>Как это не странно, Вы зашли на сервис генерации паролей. Да, да, сервис генерации почти обычных таких паролей, пароликов и паролищей для людей с особо большой головой и феноменальной памятью. Здесь Вы сможете сгенерировать пароли, которые похожи на слова из разных языков мира. Чем же замечательны эти пароли, спросите Вы? Все просто, их легко запомнить, но не легко подобрать.</div>
	<p></p>
	<div><p>Я открою для Вас еще один маленький секрет! Один мой знакомый друг мне подсказал, что данный сайт можно использовать еще и для генерации ников для всяких чатиков, асек, вконтактиков и для различного рода онлайн-игр. Попробуйте сами и увидите, что кое что из выдаваемого этим проектом способно сгодиться на подобное. В этом случае длину пароля лучше всего выставить в 4-7 символов.</p></div> 
	<h4>Для тех, кто понимает</h4>
	<div>Для программистов и просто интересующихся граждан хочется немного рассказать о том, что же находится внутри этого проекта. Пароли генерируются с помощью алгоритма, работающего на основе <a href="http://ru.wikipedia.org/wiki/%D6%E5%EF%FC_%CC%E0%F0%EA%EE%E2%E0">цепей Маркова</a>. Цепи Маркова - это такая математическая штука, углубившись в которую можно не найти дорогу назад, или вернуться не совсем человеком, но если плавать на поверхности, все будет хорошо. Основная мысль используемого здесь алгоритма очень проста: каждый новый элемент добавляется с учетом предыдущих. Для того, что бы определить, какой же элемент будет следующим, мы используем сразу два подхода:</div>
	<p></p>
	<ul>
	  <li><div>имеется ранее обозначенный набор правил, который говорит, какие элементы могут следовать за предыдущим элементом</div></li>
	  <li><div>узнав правила мы задействуем другую область математики - <a href="http://ru.wikipedia.org/wiki/Теория_вероятностей">теорию вероятности</a>, выбрав рандомный элемент из существующих на основе закрепленного за ним веса</div></li>
	</ul>
	<p></p>
	<div>Указанных выше правил достаточно для создания чего-либо приемлемо-гуманойдного, в данном случае паролей. Кстати, подобные алгоритмы используются для генерации уникального текста, на которые клюют даже поисковые машины, так как местами там могут проскакивать вполне себе сносные предложения, достойные, между прочим, глубокого осмысления.</div>
	<p></p>
	<div>Проект был написан с целью на поиграться, провести пару вечеров за созданием чего-нибудь простого и условно полезного.</div> 
	<div>В качестве инструментария использовалась <a href="https://www.djangoproject.com/">Django</a>, красота, как уже многие заметили, создана с помощью <a href="http://twitter.github.com/bootstrap/">TwitterBootsrap</a>. Исходный проект доступен на <a href="https://github.com/le087/web_pass">GitHub</a>. Оставить свои замечания и найденные ошибки в коде можно так же там, в <a href="https://github.com/le087/web_pass/issues">issue</a>.</div> 
      </div>
    </div>
  <div class="container">
    <hr /><br />
    <div class="span5">
    </div>
    <div class="span2">
      <p class="pull-right muted"><a href="http://le087.ru/">© le087's blog 2011-2013</a></p>
    </div>
    <div class="span5">
    </div>
  </div>
  </body> 
</html>
